In [1]:
# Function helps to reduce our work to write a same code again and again to perform same task

In [2]:
# To increase the reusability of code again and again

In [3]:
def test():
    print('My home is beautiful')

In [4]:
test()

My home is beautiful

In [6]:
a=test()
type(a)

My home is beautiful

NoneType

In [9]:
'e'+a
#Because you can't add nonetype with string type thing or anyother

TypeError: can only concatenate str (not "NoneType") to str

In [12]:
def test1():
    return 'My home is beautiful'

In [13]:
b=test1()
b

'My home is beautiful'

In [14]:
type(b)

str

In [16]:
'e'+b
#this getting concanitaed because we can add datatype str with str

'eMy home is beautiful'

In [17]:
#some new thing and creative thing
def llist():
    return 'a',[1,2,3],['a','b']

In [18]:
llist()

('a', [1, 2, 3], ['a', 'b'])

In [19]:
a,b,c=llist()

In [20]:
a

'a'

In [21]:
b

[1, 2, 3]

In [22]:
c

['a', 'b']

In [23]:
l=[1,2,3,4,5,6,7,8,9]
d=0
for i in l:
    d+=i
print(d)

45

In [24]:
def test3(a):
    e=0
    for i in a:
        e+=i
    return e

In [25]:
def test4(a):
    e=0
    for i in a:
        e+=i
    print(e)

In [26]:
test3(l)

45

In [27]:
test4(l)

45

In [29]:
test3(l)+test4(l)
# Again same thing is happening that ' You can't add data of integer with nonedatatype'

45

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [31]:
# let's do one more interesting thing
r=[1,23,4,5,'sfs',7,8]
#How u make a function to just add the numeric item
def test3(a):
    q=0
    for i in a:
        if type(i)==int:
            q+=i
    return q

In [32]:
test3(r)
print()
#now get onto the print() and press shift and tab

48

In [33]:
# What is doc string
def test4(a):
    '''This will help you to add only int vaules from the mix list you will provide to this functions
    '''
    q=0
    for i in a:
        if type(i)==int:
            q+=i
    return q

In [35]:
test4(r)
# Now get onto the test4 and press shift+tab and you woll get the details of the function

48

In [36]:
# Makeunction to fill the length of the string without using inbuilt function

def test5(a):
    q=0
    for i in a:
        q+=1
    return q

In [37]:
a='hello don'
test5(a)

9

In [38]:
#library- os and socket

In [48]:
# Now we are going to use args in creating a functionn 
def arg_test(*args):
    '''This function will give you all the input you will give in the form of tuple'''
    return args

In [41]:
arg_test(1,2,3,4,'geetu','Gopi',78,89)
#So what does it mean?
# it means if you simply return args it will give it to you in the form of tuples

(1, 2, 3, 4, 'geetu', 'Gopi', 78, 89)

In [47]:
#Now let's check how can we get it in the form of list
def list_test(*args):
    '''This functionn can take any no. of input and return you all of the input in the form of list'''
    return list(args)

In [44]:
list_test(1,2,3,4,'geetu','Gopi',78,89)

[1, 2, 3, 4, 'geetu', 'Gopi', 78, 89]

In [49]:
#One more interesting thing is there that while using args , instead of using args you can use any thing
# I am demostrating this with the example below
def any_test(*geetu):
    return geetu
# so the main things is we can use anything in the places of args and the main thing is *

In [52]:
any_test(1,4,5,4,2,'geetu')
#Is not it a amazing thing

(1, 4, 5, 4, 2, 'geetu')

In [53]:
#Let's jump into an interesting topic that is dictionary - key value pair
uu={'a':'Geetu','b':'Vishu',3:'Gita'}

In [55]:
# Bydefault you u simply run a for loop, It will give ypu the key as in return
for i in uu:
    print(i)

a
b
3

In [56]:
# but if you don't wanna get the key but you want to have values, so you can put your code like the way i made below 
for i in uu:
    print(uu[i])

Geetu
Vishu
Gita

In [59]:
# you can only use  constant as a key like tuple but you can't use list as an  key for a dictionary
# Here is an example where you can see tha you can not use list as a key in dictoinary 
li={[1,2,3]:'Geetanshu'}
li

TypeError: unhashable type: 'list'

In [58]:
#This amazng example proof that you can use tuple as a key in dictionary
tu={(1,2,3,4):'Geetanshu'}
tu

{(1, 2, 3, 4): 'Geetanshu'}

In [60]:
# one more intresting thing about the dictionary is that , as we have our physical dictionary which is used to get 
#the meaning of any word an the whole dictionary is not having any duplicate but in this same thing will apply and 
#you can't can't get more then one value from same key .Even if you save 2 different values in the same key it will allow you
#but you wil nnot be able to fetch the value from that key

In [63]:
#Example
dii={'a':'Good','b':'Better','c':'Best','a ': 'cheap'}
for i in dii:
    print(dii[i])

Good
Better
Best
cheap

In [64]:
# Wow ! amazing but is is not follow the rule you have explained on the above line
# Find the reason why?
dii

{'a': 'Good', 'b': 'Better', 'c': 'Best', 'a ': 'cheap'}

In [65]:
dii1={'a':'Good','b':'better','c':'best','a':'cheap'}
for i in dii1:
    print(dii1[i])

cheap
better
best

In [68]:
dii1
#this is the thing what i have exlained earlier that duplicated key can't give you 2 values
# but opposite can be possible that you can have a duplicate values but not key

{'a': 'cheap', 'b': 'better', 'c': 'best'}

In [72]:
# Just check out this amazing thing ( to get these thing just write dictionary name and put a . the press 'tab')
dii1.items()

dict_values(['cheap', 'better', 'best'])

In [73]:
dii1.keys()

dict_keys(['a', 'b', 'c'])

In [74]:
dii1.values()

dict_values(['cheap', 'better', 'best'])

In [75]:
def dic1(a):
    l=[]
    for i in a:
        if type(a[i])==dict:
            l.append(list(a[i]))
    return l

In [90]:
a={'s':{'a':1,'b':2,'c':3,'d':4,'e':5},'q':{'ab':'fd'},'c':'fsaf','d':[1,2,3],'e':{1:'sf',2:'fd'}}

In [91]:
dic1(a)

[['a', 'b', 'c', 'd', 'e'], ['ab'], [1, 2]]

In [93]:
type(a['q'])

dict

In [94]:
# Till now we have seen that we can put any no. of input in the function using 'args'
#But can we also put any no. of key value pairs
#Let's try it
def dic2(**kwargs):
    return kwargs

In [95]:
dic2(a=1,b=2,c='Geetanshu')

{'a': 1, 'b': 2, 'c': 'Geetanshu'}

In [96]:
def dic3(**geet):
    return geet

In [98]:
dic3(a=4,b=78,c='78')

{'a': 4, 'b': 78, 'c': '78'}

In [142]:
#Let come to an intresting thing which is called Decorator , it hepls one functionn to get decorated by some other function
def test10(a):
    def aa():
        print('Good going')
        a()
    return aa
test10(a)

# Decorator

NameError: name 'test11' is not defined

In [24]:
import time
a=time.time()
for i in range(10):
    print(i)
b=time.time()
print(b-a)

0
1
2
3
4
5
6
7
8
9
0.0

In [25]:
def timee(aa):
    def test13():
        print('Hi , why are you working till now')
        a=time.time()
        aa()
        b=time.time()
        print(b-a)
    return test13

In [26]:
@timee
def no():
    l=0
    for i in range(80):
        l+=i
    return l

In [27]:
no()

Hi , why are you working till now
0.0

In [19]:
def dec(a):
    def inside():
        print('It started')
        a()
        print('It ended')
    return inside
@dec
def out():
    print('Now it will work')

In [20]:
out()

It started
Now it will work
It ended

In [16]:
def test18(func) : 
    def test19():
        print("i am inside test19 and this will behave a decorator to any function that i am going to call ")
        func()
    return test19

In [17]:
@test18
def test20():
    print("this is test20")

In [18]:
test20()

i am inside test19 and this will behave a decorator to any function that i am going to call
this is test20

In [38]:
def cal(a):
    def ins():
        b=time.time()
        a()
        c=time.time()
        print('Time taken to execute the whole program is :',c-b)
    return ins
@cal
def wait():
    '''This is a functionn which is using decorator to calculating the time taken by function'''
    time.sleep(2) # help to take pause of 2 sec
    for i in range(10):
        print(i)

In [39]:
wait()

0
1
2
3
4
5
6
7
8
9
Time taken to execute the whole program is : 2.0106070041656494

In [ ]:
wait()